In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\tyler\DA_Tyler\download\www.domain.com\all_csv\sydney_raw_data.csv')

In [2]:
df.shape

(306537, 19)

In [3]:
df.astype({'id': 'object','postcode':'object'}).dtypes

id                     object
type                   object
pricefromapm           object
price                   int64
landsize              float64
price_square          float64
sold_date              object
auction_or_private     object
suburb                 object
postcode               object
street_address         object
beds                    int64
baths                   int64
parking                 int64
agency                 object
lat                   float64
lng                   float64
to_cbd                float64
to_train              float64
dtype: object

In [4]:
import numpy as np
df['landsize'].replace(0, np.nan, inplace=True)

In [5]:
df.isna().sum()

id                         0
type                       0
pricefromapm            1160
price                      0
landsize              182034
price_square               0
sold_date               1932
auction_or_private      1932
suburb                     0
postcode                   0
street_address          7126
beds                       0
baths                      0
parking                    0
agency                 66514
lat                       24
lng                       24
to_cbd                     0
to_train                 246
dtype: int64

In [6]:
df = df.dropna(subset=['street_address', 'sold_date', 'lat'])

df.isna().sum()

id                         0
type                       0
pricefromapm            1128
price                      0
landsize              176957
price_square               0
sold_date                  0
auction_or_private         0
suburb                     0
postcode                   0
street_address             0
beds                       0
baths                      0
parking                    0
agency                 62662
lat                        0
lng                        0
to_cbd                     0
to_train                 218
dtype: int64

In [7]:
df.shape

(297794, 19)

In [8]:
df = df.sort_values(by=['agency', 'landsize'], ascending=False, na_position='first')

In [9]:
df = df.drop_duplicates(subset=['suburb', 'street_address', 'sold_date'], keep='last')
df.shape

(294997, 19)

In [10]:
from pandasql import sqldf

In [11]:
df_suburbs = pd.read_csv ('australian_suburbs_1.csv')

In [12]:
df_suburbs['suburb'] = df_suburbs['suburb'].str.upper()

In [13]:
df_suburbs['local_goverment_area'] = df_suburbs['local_goverment_area'].str.replace('\(.*','')
df_suburbs['local_goverment_area'] = df_suburbs['local_goverment_area'].str.strip()

C:\Users\tyler\AppData\Local\Temp/ipykernel_24172/3720322986.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_suburbs['local_goverment_area'] = df_suburbs['local_goverment_area'].str.replace('\(.*','')

In [14]:
df_suburbs['local_goverment_area'] = df_suburbs['local_goverment_area'].str.replace('Rockdale|Botany Bay','Bayside')

C:\Users\tyler\AppData\Local\Temp/ipykernel_24172/2063276039.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_suburbs['local_goverment_area'] = df_suburbs['local_goverment_area'].str.replace('Rockdale|Botany Bay','Bayside')

In [15]:
df1 = sqldf('''
WITH joined AS(

SELECT a.*
     , b.local_goverment_area
  FROM df AS a
  LEFT JOIN df_suburbs AS b
    ON a.postcode = b.postcode AND a.suburb = b.suburb
 WHERE a.sold_date >= '2018-04-01'
   AND a.lat BETWEEN (-33.8708-0.9) AND (-33.8708+0.9)
   AND a.lng BETWEEN (151.2073-0.9) AND (151.2073+0.9)

), enriched AS(
  SELECT *
      , COUNT(1) OVER (PARTITION BY postcode, type) AS total
      , ROW_NUMBER() OVER (PARTITION BY postcode, type ORDER BY price) AS rn
      , CASE WHEN sold_date < '2020-04-1' THEN 'before'
             ELSE 'after'
        END AS time_cat
      , CASE WHEN type in ('House', 'Villa') THEN 'detached_house'
             WHEN type in ('Townhouse', 'SemiDetached','Duplex','Terrace') THEN 'shared_wall'
             WHEN type in ('ApartmentUnitFlat','Studio') THEN 'apartment'
             ELSE 'other'
             END AS category
    FROM joined
)
SELECT id
     , type
     , pricefromapm
     , price
     , landsize
     , price_square
     , sold_date
     , auction_or_private
     , suburb
     , street_address
     , postcode
     , beds
     , baths
     , parking
     , agency
     , lat
     , lng
     , to_cbd
     , to_train
     , local_goverment_area
     , category
     , time_cat
  FROM enriched
 WHERE CAST(rn AS FLOAT)/CAST(total AS FLOAT) BETWEEN 0.025 AND 0.975 OR total < 40
 
''')
print(df1.head(10))

           id               type  pricefromapm   price  landsize  \
0  2014974512  ApartmentUnitFlat           0.0  525000       NaN
1  2015745769  ApartmentUnitFlat           1.0  535000       NaN
2  2017078246  ApartmentUnitFlat           1.0  550000       NaN
3  2016447462  ApartmentUnitFlat           0.0  550000      51.0
4  2016605390  ApartmentUnitFlat           0.0  550000      46.0
5  2016949389  ApartmentUnitFlat           0.0  555000       NaN
6  2015224370  ApartmentUnitFlat           0.0  565000       NaN
7  2015226422  ApartmentUnitFlat           0.0  565000       NaN
8  2016133053  ApartmentUnitFlat           0.0  565000       NaN
9  2012757109  ApartmentUnitFlat           0.0  565000      62.0

   price_square   sold_date auction_or_private  suburb  \
0           0.0  2019-03-07     private treaty  SYDNEY
1           0.0  2019-11-08     private treaty  SYDNEY
2           0.0  2021-07-24     private treaty  SYDNEY
3       10784.0  2020-10-12     private treaty  SYDNEY
4       11957.0  2020-11-13     private treaty  SYDNEY
5           0.0  2021-05-10     private treaty  SYDNEY
6           0.0  2019-06-03     private treaty  SYDNEY
7           0.0  2019-06-03     private treaty  SYDNEY
8           0.0  2020-03-28     private treaty  SYDNEY
9        9113.0  2019-10-24     private treaty  SYDNEY

           street_address  ...  baths  parking                         agency  \
0    1302/433 Kent Street  ...      1        0                    Bryn Fowler
1   1002/38 Bridge Street  ...      1        0                    Bryn Fowler
2  96/361-363 Kent Street  ...      1        0                  Stephen  Chui
3     101/361 Kent Street  ...      1        0                   Ettiene West
4   302/267 Sussex Street  ...      1        0                   Ettiene West
5   175/298 Sussex Street  ...      1        0  Robert Bagala, Jordan Russell
6   171/298 Sussex Street  ...      1        0                           None
7       171/298 Sussex St  ...      1        0                           None
8   607/1-3 Hosking Place  ...      1        0                    Bryn Fowler
9     601/433 Kent street  ...      1        0                      Anna Zhao

         lat         lng    to_cbd  to_train  local_goverment_area   category  \
0 -33.871666  151.204666  0.304998  0.203097                Sydney  apartment
1 -33.863274  151.210678  0.907467  0.189974                Sydney  apartment
2 -33.869274  151.204315  0.368764  0.347857                Sydney  apartment
3 -33.869274  151.204330  0.367296  0.346921                Sydney  apartment
4 -33.873470  151.203888  0.476576  0.165065                Sydney  apartment
5 -33.874428  151.204575  0.499097  0.147851                Sydney  apartment
6 -33.874428  151.204575  0.499097  0.147851                Sydney  apartment
7 -33.874428  151.204575  0.499097  0.147851                Sydney  apartment
8 -33.867010  151.209351  0.474031  0.112418                Sydney  apartment
9 -33.871666  151.204666  0.304998  0.203097                Sydney  apartment

  time_cat
0   before
1   before
2    after
3    after
4    after
5    after
6   before
7   before
8   before
9   before

[10 rows x 22 columns]

In [16]:
df1.to_csv(r'C:\Users\tyler\DA_Tyler\download\www.domain.com\all_csv\sydney_data.csv', index=False)

In [66]:
df_sb = sqldf('''

WITH enriched AS(
SELECT id
     , postcode
     , price
     , category
     , time_cat
  FROM df1
), counted AS(
SELECT COUNT(id)
     , postcode
     , time_cat
  FROM enriched
GROUP BY 2,3
), sumed_price AS(
SELECT postcode
     , time_cat
     , category
     , COUNT(1) AS sold
     , AVG(price) AS avg_price
     , SUM(price) AS total_price
  FROM enriched
 GROUP BY 1,3,2
 ORDER BY 1
), leaded AS(
SELECT *
     , LEAD(sold) OVER(PARTITION BY postcode, category ORDER BY time_cat) AS p_sold
     , LEAD(total_price) OVER(PARTITION BY postcode, category ORDER BY time_cat) AS p_total_price
     , LEAD(avg_price) OVER(PARTITION BY postcode, category ORDER BY time_cat) AS p_avg_price
  FROM sumed_price
)
SELECT postcode
     , category
     , sold
     , p_sold
     , ROUND((CAST(total_price AS FLOAT)-CAST(p_total_price AS FLOAT)) / CAST(total_price AS FLOAT),3) AS total_growth
     , ROUND((CAST(avg_price AS FLOAT)-CAST(p_avg_price AS FLOAT)) / CAST(avg_price AS FLOAT),3) AS avg_growth
  FROM leaded
 WHERE time_cat = 'after'
''') 
print(df_sb.head(10))

   postcode        category  sold  p_sold  total_growth  avg_growth
0      2000       apartment   438   374.0         0.242       0.112
1      2000  detached_house     4     9.0        -0.499       0.334
2      2000     shared_wall     5     5.0        -0.340      -0.340
3      2007       apartment    91    96.0         0.013       0.064
4      2007  detached_house     7    10.0         0.126       0.388
5      2007     shared_wall     7     2.0         0.687      -0.094
6      2008       apartment   159   128.0         0.226       0.039
7      2008  detached_house    73    37.0         0.549       0.109
8      2008           other     2    18.0        -5.287       0.301
9      2008     shared_wall    21     9.0         0.569      -0.005

In [67]:
df_sb.to_csv(r'C:\Users\tyler\DA_Tyler\download\www.domain.com\all_csv\before_after_covid.csv', index=False)

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://aqlxfqja:F6bE-fv-jhA_VaaLV284XVgxXOLNAp_2@rosie.db.elephantsql.com/aqlxfqja')

In [9]:
df.to_sql('sydney_data', engine, if_exists='replace', index=False)

DATA source https://opendata.transport.nsw.gov.au/dataset/train-station-entrance-locations

In [6]:
pd.read_csv(r'C:\Users\tyler\DA_Tyler\geo_data\Sydney_StationEntrances2020_v4.csv').to_sql('sydney_station', engine, if_exists='replace', index=False)